In [1]:
import pandas as pd

# Load the combined dataset
df = pd.read_csv("../outputs/combined_clean.csv")
df.head()

                                                text  label source
0  The largest low-wage employer is not McDonalds...      0   LIAR
1  A majority in every state favors path to citiz...      1   LIAR
2  Says some [states] with the largest reductions...      1   LIAR
3  Chris Koster opposed protecting the women of M...      1   LIAR
4  So I told the person that I don’t like that I ...      1   MU3D

In [2]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Shefali\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Shefali\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [3]:
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stop_words = set(stopwords.words('english'))

def clean_text(text):
    if pd.isnull(text):
        return ""
    text = text.lower()
    text = re.sub(r"http\S+|www\S+|https\S+", '', text)  # remove URLs
    text = re.sub(r"[^a-zA-Z\s]", '', text)              # remove punctuation/numbers
    text = re.sub(r"\s+", ' ', text).strip()             # remove extra spaces
    words = word_tokenize(text)
    words = [word for word in words if word not in stop_words]
    return ' '.join(words)

In [4]:
df['clean_text'] = df['text'].apply(clean_text)
df[['text', 'clean_text', 'label', 'source']].head()

,text,clean_text,label,source
0,The largest low-wage employer is not McDonalds...,largest lowwage employer mcdonalds walmart us ...,0,LIAR
1,A majority in every state favors path to citiz...,majority every state favors path citizenship u...,1,LIAR
2,Says some [states] with the largest reductions...,says states largest reductions crime also lowe...,1,LIAR
3,Chris Koster opposed protecting the women of M...,chris koster opposed protecting women missouri...,1,LIAR
4,So I told the person that I don’t like that I ...,told person dont like like guy um like footbal...,1,MU3D

In [5]:
df.to_csv("C:/Users/Shefali/OneDrive\Desktop/Criminal-Deception-Project/outputs/combined_clean_preprocessed.csv", index=False)
print("✅ Preprocessed file saved.")

✅ Preprocessed file saved.

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Shefali\AppData\Local\Temp\ipykernel_27124\2719787772.py:1: SyntaxWarning: invalid escape sequence '\D'
  df.to_csv("C:/Users/Shefali/OneDrive\Desktop/Criminal-Deception-Project/outputs/combined_clean_preprocessed.csv", index=False)